<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ClassDAO">
  	<!-- DB의 컬럼명과 VO의 변수명 맵핑 -->
  	<resultMap type="classVO" id="classMap">
  		<result column="teacher_id" property="teacherId" />
  		<result column="dog_no" property="dogNo" />
  		<result column="subscription_no" property="subscriptionNo" />
  		<result column="class_date" property="classDate" />
  		<result column="reg_date" property="regDate" />
  	</resultMap>
  	
  	<sql id="selectClass">
  		SELECT NO, TEACHER_ID, DOG_NO, SUBSCRIPTION_NO, CLASS_DATE, STATUS, ATTENDANCE, REG_DATE
  		  FROM CLASS
  	</sql>
  	
  	<select id="selectAll" resultMap="classMap">
  		<include refid="selectClass" />
  		ORDER BY CLASS_DATE DESC
  	</select>

  	<select id="selectByDogNo" resultMap="classMap">
  		<include refid="selectClass" />
  		WHERE DOG_NO = #{dogNo}
  		ORDER BY CLASS_DATE DESC
  	</select>
  	
  	<select id="selectCntPerTeacher" parameterType="int" resultType="HashMap">
  		SELECT TEACHER_ID as teacherId, COUNT(*) as cnt
 		  FROM CLASS 
		 WHERE CLASS_DATE = TO_DATE(#{date}, 'YYYYMMDD')
         GROUP BY TEACHER_ID
  	</select> 	 
  	 
  	 <update id="updateStatus" parameterType="classVO">
  	 	UPDATE CLASS 
  	 	SET STATUS = #{status}
  	 	WHERE NO = #{no} 
  	 </update>
  	 <delete id="delete" parameterType="int">
  	 	DELETE FROM CLASS
  	 	WHERE NO = #{no}
  	 </delete>
  	  	
  	<!-- 수업 내역 삽입 -->
  	<insert id="insert" parameterType="classVO">
  		INSERT INTO class(NO, TEACHER_ID, DOG_NO, SUBSCRIPTION_NO, CLASS_DATE)
		VALUES(SEQ_CLASS_NO.NEXTVAL, #{teacherId}, #{dogNo}, #{subscriptionNo}, TO_DATE(#{classDate},'YYYYMMDD'))
  	</insert>
</mapper>