<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.PassDAO">
  	<!-- DB의 컬럼명과 VO의 변수명 맵핑 -->
  	<resultMap type="passVO" id="passMap">
  		<result column="total_classes" property="totalClasses" />
  	</resultMap>
  	
  	<sql id="selectPass">
  		select no, name, description, price, duration, total_classes
  		  from pass
  	</sql>
  	
  	
  	<!-- 이용권 번호로 조회 -->
  	<select id="selectByNo" parameterType="int" resultMap="passMap">
  		<include refid="selectPass" />
  		 where no = #{no}
  	</select>
  	
    	
  	<!-- 전체 이용권 조회 -->
  	<select id="selectAll" resultMap="passMap">
  		<include refid="selectPass" />
  		 order by total_classes  	
  	</select>
  	  	
  	<!-- 이용권 내역 삽입 -->
  	<insert id="insert" parameterType="passVO">
  		INSERT INTO PASS (NO, NAME, DESCRIPTION, PRICE, DURATION, TOTAL_CLASSES)
		VALUES (SEQ_PASS_NO.nextval, #{name}, #{description}, #{price}, #{duration}, #{totalClasses})
  	</insert>
</mapper>