<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.PaymentDAO">
  	<!-- DB의 컬럼명과 VO의 변수명 맵핑 -->
  	<resultMap type="paymentVO" id="paymentMap">
  		<result column="member_id" property="memberId" />
  		<result column="pass_no" property="passNo" />
  		<result column="pay_method" property="payMethod" />
  		<result column="pay_date" property="payDate" />
  	</resultMap>
  	
  	<sql id="selectPayment">
  		select no, member_id, pass_no, amount, pay_method, to_char(pay_date, 'yyyy-mm-dd') pay_date
  		  from payment
  	</sql>
  	
  	<select id="selectAll" parameterType="String" resultMap="paymentMap">
  		<include refid="selectPayment" />
  		<where>
  			<if test=" memberId != null">
  				member_id = #{memberId}
  			</if>
  		</where>
  		order by pay_date desc
  	</select>
  	
  	<!-- 결제 내역 삽입 -->
  	<insert id="insert" parameterType="paymentVO">
  		<selectKey keyProperty="no" resultType="int" order="BEFORE">
  		SELECT SEQ_PAYMENT_NO.nextval FROM dual
  		</selectKey>
  		
  		INSERT INTO PAYMENT (NO, MEMBER_ID, PASS_NO, AMOUNT, PAY_METHOD)
		VALUES (#{no}, #{memberId}, #{passNo}, #{amount}, #{payMethod})
  	</insert>
  	
</mapper>