<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.PaymentDAO">
  	<!-- DB의 컬럼명과 VO의 변수명 맵핑 -->
  	<resultMap type="paymentVO" id="paymentMap">
  		<result column="member_id" property="memberId" />
  		<result column="pass_no" property="passNo" />
  		<result column="pay_method" property="payMethod" />
  		<result column="pay_date" property="payDate" />
  		<association property="refundVO" javaType="refundVO">
  			<id property="no" column="refund_no" />
  			<result property="amount" column="refund_amount" />
  			<result property="refundDate" column="refund_date" />
  			<result property="reason" column="reason" />
  			<result property="status" column="status" />
  		</association>
  	</resultMap>
  	
  	<sql id="selectPayment">
  		select no, member_id, pass_no, amount, pay_method, to_char(pay_date, 'yyyy-mm-dd') pay_date
  		  from payment
  	</sql>
  	
  	<select id="selectAll" parameterType="String" resultMap="paymentMap">
  		<include refid="selectPayment" />
  		<where>
  			<if test=" memberId != null">
  				member_id = #{memberId}
  			</if>
  		</where>
  		order by pay_date desc
  	</select>
  	
  	<select id=""></select>
  	
  	<select id="selectAllPaging" parameterType="paymentVO" resultMap="paymentMap">
  	SELECT   NO, MEMBER_ID, PASS_NO , AMOUNT, PAY_METHOD, PAY_DATE
  	  FROM (
        	SELECT NO, MEMBER_ID, PASS_NO , AMOUNT, PAY_METHOD, PAY_DATE, ROW_NUMBER() OVER(ORDER BY pay_date) AS RNUM
  			  FROM payment
           )
 	 WHERE RNUM BETWEEN #{paging.pageStartRecordNo} AND #{paging.pageEndRecordNo}
 	 ORDER BY RNUM DESC  	
  	</select>
  	
  	<select id="selectCount" resultType="int">
  	SELECT COUNT(*) FROM PAYMENT
  	</select>
  	
  	<!-- 결제 내역 삽입 -->
  	<insert id="insert" parameterType="paymentVO">
  		<selectKey keyProperty="no" resultType="int" order="BEFORE">
  		SELECT SEQ_PAYMENT_NO.nextval FROM dual
  		</selectKey>
  		
  		INSERT INTO PAYMENT (NO, MEMBER_ID, PASS_NO, AMOUNT, PAY_METHOD)
		VALUES (#{no}, #{memberId}, #{passNo}, #{amount}, #{payMethod})
  	</insert>
  	
</mapper>