<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.SubscriptionDAO">
  	<!-- DB의 컬럼명과 VO의 변수명 맵핑 -->
  	<resultMap type="subscriptionVO" id="subscriptionMap">
  		<result column="payment_no" property="paymentNo" />
  		<result column="member_id" property="memberId" />
  		<result column="pass_no" property="passNo" />
  		<result column="start_date" property="startDate" />
  		<result column="end_date" property="endDate" />
  		<result column="remain_classes" property="remainClasses" />
  	</resultMap>
  	
  	<sql id="selectSubscription">
  		select no, payment_no, member_id, pass_no, start_date, end_date, remain_classes
  		  from subscription
  	</sql>
 	
 	<!-- 유효한 이용권 조회  -->
 	<select id="selectValidSub" parameterType="String" resultMap="subscriptionMap">
 		<include refid="selectSubscription" />
 		WHERE MEMBER_ID = #{memberId}
 		  AND END_DATE >= SYSDATE
 		  AND REMAIN_CLASSES > 0
 		ORDER BY END_DATE
 	</select>
 
 	<!-- 모든 이용권 조회  -->
 	<select id="selectAllById" parameterType="String" resultMap="subscriptionMap">
 		<include refid="selectSubscription" />
 		 where member_id = #{memberId}
 	</select>
 
 	<!-- 이용권 남은 수량 수정 -->
 	<update id="updateRemainClasses" parameterType="int">
 		UPDATE SUBSCRIPTION 
   		   SET REMAIN_CLASSES = (REMAIN_CLASSES - 1)
         WHERE NO = #{no}
 	</update>
 	
  	<!-- 이용권 내역 삽입 -->
  	<insert id="insert" parameterType="subscriptionVO">
  		INSERT INTO SUBSCRIPTION (NO, PAYMENT_NO, MEMBER_ID , PASS_NO, START_DATE, END_DATE, REMAIN_CLASSES)
		VALUES (
			SEQ_SUBSCRIPTION_NO.nextval
		  , #{paymentNo}
		  , #{memberId}
		  , #{passNo}
		  , SYSDATE
		  , TO_DATE(#{endDate}, 'yyyy-mm-dd hh24:mi:ss')
		  , #{remainClasses}		  
		)
  	</insert>
</mapper>