<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>dangdangdang</display-name>
  
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>kr.ac.kopo.filter.CharacterEncodingFilte</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<servlet-name>dispatcherServlet</servlet-name>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>dispatcherServlet</servlet-name>
  	<servlet-class>kr.ac.kopo.framework.DispatcherServlet</servlet-class>
  	<init-param>
		<param-name>propLoc</param-name>
		<param-value>C:\\Projects\\dangdangdang\\src\\main\\java\\bin\\bean.properties</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>dispatcherServlet</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>